@page
@model IndexModel


<div class="text-center">
    <form method="post">
        <h2>Sentiment Analysis on NYT times Articles</h2>

        <div class="apisparameters">
            <input id="apikeyid" placeholder="API key" width="15" />
            <input id="queryid" placeholder="Search by query (e.g immigration)" />
        </div>

        <div>
            <input type="button" value="Get Article" id="buttongetarticle"
                   onclick="getArticle()" />
        </div>

        <div class="counts">
            <label> Article Counts</label>
            <input style= "border:none" id="ArticleCounts"> </input>
        </div>


        <div class="editor-field">
            @Html.TextBoxFor(model => model.SentimentResult.StartDate, new { @Value = DateTime.Now, id = "datepicker" })
            @Html.ValidationMessageFor(model => model.SentimentResult.StartDate)
        </div>

        <p><textarea asp-for="SentimentResult.Text" id="Message" cols="45" placeholder="Display of lead_paragraph from NYT times API"></textarea></p>

        <div class="sentiment">
            <h4>Predicted Sentiment is...</h4>

            <div class="marker">
                <div id="markerPosition" style="left: 45%;">
                    <label id="markerValue">Sentiment</label>
                </div>
                <div>
                    <input asp-for="SentimentResult.SentimentPrediction"
                           id="inputPredictionSentiment"
                           type="hidden"
                           class="Disable"
                           value="" />
                </div>
                <div>
                    <input asp-for="SentimentResult.ConfidenceScore"
                           id="inputConfidenceScore"
                           type="hidden"
                           class="Disable"
                           value="" />
                </div>

                <h4>Actual Sentiment</h4>
                <input asp-for="SentimentResult.ActualSentiment"
                       id="inputActualSentiment"
                       class="Disable"
                       value="" />

            </div>

            <div>
                <input type="submit" value="Save Prediction" id="GetPrediction"
                       onclick="document.getElementById('inputPredictionSentiment').value = getPredictionSentiment();
                                document.getElementById('inputConfidenceScore').value = getConfidenceScore();
                                document.getElementById('inputActualSentiment').value" />
            </div>
        </div>
    </form>
</div>




